@media (min-width: 1500px) {
    .container {
        max-width: 1500px;
    }
}

@media(max-width: 1500px) {
    .about-image-center {
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .about-image-src {
        max-width: 100%;
    }

    .detail-full-sticky {
        height: auto;
    }

    .detail-price .newprice {
        font-size: 25px;
    }

    .detail-price .oldprice {
        font-size: 16px;
    }

    .consult-heading {
        line-height: 1;
    }

    .col-about {
        padding-left: 15px;
    }

    .products-title {
        font-size: 35px;
    }

    .products-cats-item::before {
        top: 9px;
    }

    .products-heading {
        font-size: 16px;
    }

    .products-block {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .products-cats-item {
        line-height: 1.4;
        margin-bottom: 10px;
    }

    .products-block-index-2 {
        padding-left: 47%;
    }

    .products-block-index-3 {
        padding-left: 42%;
    }
    
    br {
        display: none;
    }

    .home-slider-title {
        line-height: 1.2;
    }

    .container {
        max-width: 100%;
    }

    .header-main-link {
        font-size: 14px;
        margin-right: 10px;
    }

    .header-main-list {
        padding-left: 0;
    }

    .row-header-main {
        justify-content: space-between;
    }

    .header-cart {
        margin-left: 0;
    }

    .header-top {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .header-top-link {
        margin-right: 10px;
        font-size: 12px;
    }

    .header-contacts {
        display: flex;
        align-items: center;
    }

    .header-contacts-item {
        font-size: 12px;
        background-size: 10px;
        background-position: 8px 2px;
    }

    .header-logo {
        --box-width: 200px;
    }

    .header-cart-title {
        font-size: 14px;
    }

    .header-cart-total {
        font-size: 11px;
    }
    
    .slider-right-content {
        padding-top: 0;
        height: 100%;

        display: flex;
        justify-content: center;
    }
}

@media (max-width: 1200px) {
    .footer-nav-item {
        word-break: break-all;
    }

    .modal-form-input {
        padding: 10px 20px;
        font-size: 14px;
    }

    .modal-form-agree {
        font-size: 14px;
        margin-top: 10px;
    }

    .modal-custom-subtitle {
        font-size: 14px;
    }

    .modal-form-label {
        margin-bottom: 15px;
    }

    .detail-osob-item {
        padding-left: 15px;
        margin-bottom: 5px;
    }

    .detail-osob-item::before {
        top: 4px;
        left: 2px;
        width: 5px;
        height: 5px;
    }

    .detail-specs-col {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    
    .detail-block {
        padding-left: 15px;
        padding-right: 15px;
    }

    .detail-price {
        flex-wrap: wrap;
    }

    .detail-row {
        padding-top: 40px;
    }

    .detail-anchor {
        display: block;
        font-size: 14px;
        background-position: right 50%;
    }

    .detail-price .newprice {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .detail-price .oldprice {
        margin-top: 5px;
        margin-left: 0;
    }

    .detail-item {
        margin-bottom: 15px;
        font-size: 13px;
    }

    .detail-slide-thumb-item {
        background-size: 50px;
    }

    .detail-sliders {
        width: 100%;
    }

    .detail-slider-thumbs {
        width: 100%;
        margin-left: 0;
    }

    .zapis-title {
        line-height: 1;
        font-size: 16px;
    }

    .zapis-desc {
        font-size: 14px;
    }

    .zapis-icon {
        max-width: 60px;
    }

    .catalog-zapis-item {
        background-position: center center;
    }

    .catalog-sort-select {
        padding-right: 40px;
    }

    .consult-heading {
        font-size: 32px;
    }

    .consult-content {
        padding-right: 340px;
    }

    .consult-desc {
        font-size: 14px;
    }

    .consult-men {
        right: 15px;
    }

    .product-item-photo {
        background-size: auto 60%;
    }

    .section-about {
        font-size: 14px;
    }

    .products-list-name {
        height: 46px;
        font-size: 15px;
        font-weight: 500;
    }

    .products-block {
        height: auto;
    }

    .products-image-responsive-1 {
        max-width: 190px;
    }

    .products-cats-link {
        font-size: 15px;
    }

    .products-col-right-col:nth-child(2) {
        padding-left: 15px;
    }

    .products-title {
        font-size: 28px;
    }

    .row-products-cats {
        align-items: stretch;
    }

    .products-block-index-2,
    .products-block-index-3 {
        padding-left: 0;
        margin-left: -25px;
    }

    .products-image-responsive {
        max-width: 20%;

        left: auto;
        right: 30px;
        bottom: 30px;
    }

    .header-main-list {
        padding-top: 0;
    }

    .header-logo {
        --box-width: 155px;
    }

    .header-main-link {
        font-size: 12px;
    }

    .row-header-main {
        align-items: center;
    }
    
    .header-main {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .home-slider-desc {
        font-size: 14px;
    }

    .home-slider-more {
        background-size: 20px;
    }

    .button-default {
        font-size: 14px;
        height: 40px;
        line-height: 35px;
    }

    /* .contacts-form-button {
        height: 50px;
    } */

    .home-slider {
        height: 400px;
    }

    .slider-btn {
        margin-top: 15px;
    }

    .slider-right-content::before {
        background-size: contain;
    }

    .home-slider-title {
        line-height: 1;
        font-size: 20px;
    }

    .contacts-form-style[type="text"] {
        height: 40px;
    }
}

@media (max-width: 991px) {
    /* overlay masks */
    [class*=state-] {
        overflow: hidden;
    }

    [class*=state-] .overlay {
        display: block;
    }
    /* overlay masks */

    .contacts-form-style {
        border-radius: 20px;
    }

    .detail-full-content {
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
    }

    .detail-full-stick {
        flex: 0 0 300px;
        max-width: 300px;
    }

    .detail-left {
        order: 1;
        flex: 0 0 100%;
        max-width: 100%;

        padding-top: 10px;
        padding-bottom: 30px;
    }

    .detail-right {
        order: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .catalog-zapis-item {
        top: 100px;
    }

    .catalog-cats .products-image-abs {
        display: none;
    }

    .catalog-cats .products-col-left {
        display: none;
    }

    .catalog-cats .products-col-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .catalog-cats .products-col-right-col:nth-child(1),
    .catalog-cats .products-col-right-col:nth-child(2) {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .section-heading {
        font-size: 25px;
    }

    .catalog-sort-select {
        font-size: 16px;
        height: 40px;
    }

    .catalog-zapis-item {
        height: auto;
    }

    .col-footer {
        padding-top: 30px;
    }

    .footer-nav {
        margin-top: 15px;
    }

    .row-services {
        margin-top: 30px;
    }

    .section-recomms {
        margin-top: 50px;
    }

    .slider-right-content::before {
        display: none;
    }

    .section-products {
        margin-top: 30px;
    }

    .service-item-body {
        padding-left: 15px;
    }

    .service-item-name {
        font-size: 16px;
    }

    .service-item-text {
        font-size: 13px;
    }

    .about-image {
        max-width: 350px;
        margin-bottom: 25px;
    }

    .section-about {
        margin-top: 0;
    }

    .section-about-catalog {
        margin-top: 50px;
    }

    .about-content {
        margin-top: 25px;
    }

    .products-block-custom {
        padding-bottom: 0;
        padding-top: 0;
        margin-top: -30px;
    }

    .col-about {
        margin-top: 50px;
    }

    .about-list {
        margin-top: 15px;
    }

    .section-btns {
        margin-top: 15px;
    }

    .product-item-prices .newprice {
        font-size: 16px;
    }

    .product-item-prices .oldprice {
        font-size: 12px;
    }

    .product-item-buy {
        font-size: 14px;
    }

    .product-item-actions {
        padding: 15px 15px 20px;
    }

    .product-tooltip {
        font-size: 12px;

        padding: 10px;
    }

    .tooltip-info {
        bottom: 90px;

        left: 10px;
        right: 10px;
    }

    .tooltip-info::before {
        right: 20px;
    }

    .product-item-name {
        height: 38px;
        font-size: 14px;

        padding-left: 15px;
        padding-right: 15px;
    }

    .products-list::before {
        display: none;
    }

    .products-list {
        margin-left: -15px;
        margin-right: -15px;
    }

    .products-list-link {
        max-width: 270px;
    }

    .products-list-item {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
        margin-bottom: 30px;

        padding-left: 15px;
        padding-right: 15px;
    }

    .products-block {
        height: auto;
    }

    .products-col-left,
    .products-col-right {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .products-image-abs {
        max-width: 110px;
    }

    .products-image-responsive-1 {
        bottom: auto;
        top: 100px;
        
    }

    .products-col-right-col:nth-child(1) {
        padding-top: 140px;
    }

    .home-slider-desc {
        font-size: 13px;

        max-width: 75%;
    }

    .home-slider-more {
        background-size: 17px;
    }

    .home-slider-more {
        padding-top: 20px;
    }

    .home-slider {
        height: 380px;
    }

    .slider-content {
        text-align: left;

        padding-left: 15px;
        padding-right: 15px;

        align-items: flex-start;
    }

    .home-slider-more {
        display: table;
    }

    .right-slider-col {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 3
    }

    .row-slider {
        margin-left: -15px;
        margin-right: -15px;
    }

    .right-slider-col .col-slider:nth-child(1) {
        display: none;
    }

    .container-abs .slider-content {
        display: none;
    }

    .slider-right-content {
        background-color: rgba(67, 172, 213, .45);
    }

    .header-logo {
        --box-width: 129px;
    }

    .header-main-list {
        position: fixed;
        top: 81px;
        left: -280px;
        bottom: 0;
        width: 280px;

        padding-top: 15px;
        padding-bottom: 15px;

        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0 0 0 0 rgba(0,0,0, 0);

        transition: all .25s ease;

        z-index: 5;
    }

    .state-menu .header-main-list {
        left: 0;

        box-shadow: 0 15px 15px 0 rgba(0,0,0, 0.1);
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: #fff;
        box-shadow: 0 0 15px 0 rgba(0,0,0, .1);
        height: 81px;
    }

    body {
        padding-top: 81px;
    }

    .header-main-link {
        padding: 8px 15px;
        margin-right: 0;
        font-size: 14px;
        font-weight: normal;
    }

    .header-cart {
        display: none;
    }

    .responsive-items {
        display: flex;
        flex-wrap: wrap;
        flex: 0 0 100px;
        max-width: 100px;

        justify-content: flex-end;
    }

    .header-main {
        padding-top: 10px;
        padding-bottom: 10px;
    }

    .header-top-list {
        display: none;
    }

    .header-contacts-item {
        background-position: 0 2px;

        padding-left: 19px;
    }
}

@media (max-width: 767px) {
    .about-list-desc {
        font-size: 13px;
    }

    .about-image-center {
        margin-top: 0;
    }

    .about-image-src {
        max-width: 280px;
    }

    .about-page-content {
        font-size: 14px;
    }

    .contacts-form-style {
        font-size: 15px;
    }

    .contacts-form-style[type="text"] {
        padding-left: 15px;
        padding-right: 15px;
    }

    textarea.contacts-form-style {
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts-form-agree {
        font-size: 13px;
    }

    .contacts-form {
        margin-top: 40px;
        margin-bottom: 0;
    }

    .contacts-form-title {
        margin-bottom: 15px;
    }

    .page-layout-inner {
        border-radius: 0;
        padding: 15px;

        margin-left: -15px;
        margin-right: -15px;
    }

    .contacts-form-action {
        max-width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    .contacts-map {
        border-radius: 0;
        height: 300px;
    }

    .contacts-form-row.row {
        margin-bottom: 0;
    }

    .contacts-form-row {
        margin-bottom: 15px;
    }

    .col-form {
        margin-bottom: 15px;
    }

    .col-product-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .detail-specs-col:nth-child(1),
    .detail-specs-col:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 0;
    }

    .detail-specs-col:nth-child(1) {
        color: var(--gray-text)
    }

    .detail-specs-row {
        border-top: none;
        border-bottom: none;
        padding: 0;
        margin-bottom: 15px;
    }

    .detail-full-list-item::before {
        top: 7px;
    }

    .detail-block {
        padding-left: 0;
        padding-right: 0;
    }

    .detail-specs-row:last-child {
        border-bottom: none
    }

    .detail-full-desc {
        font-size: 13px;
    }

    .detail-full-content {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .detail-full-stick {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .detail-slide-thumb-item {
        padding-bottom: 16%;
        background-size: 40%;
    }

    .catalog-cats .products-cats-link {
        font-size: 13px;
    }

    .catalog-cats .products-cats-link + span {
        font-size: 12px;
    }

    .catalog-cats .products-cats-name {
        font-size: 15px;
    }

    .catalog-cats .products-cats-title {
        font-size: 15px;
    }

    .catalog-cats .products-block {
        margin-top: 0px;
    }

    .catalog-product-item .tooltip-info {
        bottom: 100px;
    }

    .catalog-list .product-item-buy {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .catalog-list .product-item-actions {
        justify-content: space-between;
    }

    .catalog-list .product-item {
        border-bottom: 1px solid #e5e5e5;
    }

    .catalog-layout {
        background-size: contain;
    }

    .catalog-list .product-item-actions {
        position: static;
        opacity: 1;
        height: 99px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .catalog-list .product-item {
        background-color: #fff;
        border-radius: 0;
    }

    .catalog-list .product-item:hover {
        box-shadow: none;
    }

    .catalog-list .product-item:hover .product-item-actions {
        box-shadow: none;
    }

    .section-heading {
        line-height: 1;
        font-size: 20px;
    }

    .col-footer {
        padding-top: 15px;
    }

    .footer-logo-src {
        max-width: 260px;
    }

    .section-consult {
        margin-top: 0;
    }

    .consult-heading {
        font-size: 16px;
    }

    .consult-desc {
        font-size: 13px;
    }

    .consult-content {
        padding-top: 120px;
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;

        border-radius: 30px;

        background-size: auto 260px;
        background-position: center bottom;

        padding-right: 160px;
    }

    .consult-men {
        right: 20px;
        max-width: 120px;
    }

    .section-head {
        flex-direction: column;
        align-items: stretch;
    }

    .slider-products-controls {
        justify-content: flex-end;
    }

    .slider-recomms {
        margin-top: 0;
    }

    .products-block {
        padding: 20px 15px;
    }

    .products-list-item {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .products-col-right-col:nth-child(2),
    .products-col-right-col {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 0;
    }

    .products-col-right-col:nth-child(1) {
        padding-top: 0;
    }

    .products-list {
        margin-top: 0;
    }

    .products-block-custom {
        margin-top: 0;
        padding-top: 0;
    }

    .products-image-responsive-1 {
        left: auto;
        top: auto;
        right: 30px;
        bottom: 30px;
    }

    .products-block-custom .products-title {
        padding: 0 0 30px 0;
    }

    .section-partners {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .section-services {
        margin-top: 0;
    }

    .modal-dialog-custom {
        margin-left: 0;
        margin-right: 0;
    }

    .modal-content-custom {
        border-radius: 20px;
        padding: 30px;
    }

    .modal-custom-title {
        font-size: 20px;
    }

    .modal-custom-subtitle {
        font-size: 13px;
    }

    .modal-custom-close {
        top: 30px;
        right: 30px;
    }

    .modal-custom-head {
        padding-right: 45px;
    }
}

@media (max-width: 480px) {
    .contacts-form-title {
        font-size: 19px;
    }

    .contacts-list-item-body {
        font-size: 14px;
    }

    .contacts-form-agree {
        font-size: 11px;
    }

    .contacts-form-style {
        font-size: 13px;
    }

    .col-product-zapis {
        flex: 0 0 100%;
        max-width: 100%;
        padding-bottom: 15px;
    }

    .col-product-zapis ~ .col-product-item {
        opacity: 0.3
    }

    .product-item {
        margin-bottom: 0;
    }

    .catalog-list .product-item {
        padding-top: 18px;
    }

    .catalog-list .product-item-bubble {
        top: 0;
    }

    .catalog-list .product-item-actions {
        height: auto;
    }

    .catalog-product-item:hover .product-item-actions, .catalog-product-item.hover .product-item-actions {
        height: auto;
    }

    .product-item-bubble {
        width: 35px;
        height: 35px;
        font-size: 11px;

        line-height: 35px;
    }

    .bubble-discount {
        left: 15px;
    }

    .bubble-delivery {
        left: 60px;
    }

    .product-item-buy {
        height: 35px;
    }

    .product-item-name {
        font-size: 12px;
        height: 33px;
    }

    .product-item {
        padding-top: 56px;
    }

    .slider-products {
        padding: 0 0 30px 0px;
    }

    .section-history {
        margin-top: 30px;
    }

    .slider-products .product-item-actions {
        position: static;
        opacity: 1;
        height: 99px;
        padding-top: 19px;
        padding-bottom: 19px;
    }

    .slider-products .product-item:hover,
    .slider-products .product-item:hover .product-item-actions {
        box-shadow: none;
    }

    .product-item-prices .oldprice {
        display: none;
    }

    .product-item-info {
        display: none;
    }

    .product-item-buy {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0;
    }

    .slider-partners > .swiper-wrapper > .swiper-slide > img {
        max-width: 100px;
    }

    .modal-custom-subtitle,
    .modal-form-agree {
        font-size: 12px;
    }

    .button-default {
        height: 38px !important;
        line-height: 33px !important;
    }

    .slider-history {
        height: 370px;
    }

    .detail-full {
        padding-top: 30px;
    }

    .detail-specs {
        margin-top: 30px;
    }

    .detail-specs-list {
        margin-top: 15px;
    }

    .detail-block .detail-bubbles .tooltip-small {
        left: 20px;
    }

    .detail-block {
        padding-left: 0;
        padding-right: 0;
        padding-top: 0;
        margin-top: 0;
    }

    .tooltip-small {
        left: 15px;
    }

    .tooltip-small::before {
        left: 48%;
    }

    .about-podbor {
        font-size: 13px;
    }

    .catalog-list .product-item {
        margin-left: -15px;
        margin-right: -15px;
    }

    .catalog-cats .products-col-right-col:nth-child(1), .catalog-cats .products-col-right-col:nth-child(2) {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .catalog-cats .products-block {
        margin-bottom: 40px;
    }

    .consult-content {
        padding-top: 80px;
    }

    .catalog-sort-select {
        font-size: 12px;
        height: 35px;
        line-height: 35px;
        padding-left: 15px;
        width: 100%;
    }

    .catalog-list .product-item {
        margin-bottom: 15px;
    }

    .catalog-list {
        margin-top: 0;
    }

    .page-bc-list {
        flex-direction: column;
    }

    .page-bc-link {
        font-size: 12px;
        padding-left: 15px;
    }

    .page-bc-link::after {
        right: auto;
        top: 5px;
        left: 0;

        width: 5px;
        height: 5px;
    }

    .page-bc-link:last-child::after {
        display: block;
    }

    .footer-nav-item {
        margin-bottom: 10px;
    }

    .footer-nav-link {
        font-size: 12px;
    }

    .service-item-name {
        font-size: 13px;
        margin-bottom: 5px;
        margin-top: 15px;
    }

    .service-item-text {
        font-size: 12px;
    }

    .service-item-icon {
        flex: 0 0 50px;
        max-width: 50px;
    }

    .service-item-body {
        flex: 0 0 calc(100% - 50px);
        max-width: calc(100% - 50px);
    }

    .about-title {
        font-size: 20px;
    }

    .subheading {
        font-size: 12px;
    }

    .footer {
        font-size: 13px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .footer-logo {
        margin-bottom: 20px;
    }

    .products-block-custom .products-head {
        margin-left: -15px;
        margin-right: -15px;
    }

    .section-about {
        font-size: 13px;
    }

    .about-image {
        max-width: 100%;
    }

    .products-list-image {
        height: 59px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .products-list-name {
        margin-top: 10px;
        height: 46px;
        font-size: 11px;
        font-weight: 500;
        word-break: break-word;
    }
    
    .products-cats-link,
    .products-cats-name {
        font-size: 13px;
    }

    .products-cats-link + span {
        font-size: 11px;
    }
    
    .product-item-photo {
        padding-bottom: 140px;
    }

    .section-btns .button-default {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 15px;
    }

    .consult-men {
        display: none;
    }

    .consult-content {
        padding-right: 15px;
    }

    .products-block-index-2, .products-block-index-3 {
        margin-left: -20px;
        padding-top: 0;
    }

    .home-slider-desc {
        max-width: 100%;
    }

    .products-list-item {
        padding-left: 34px;
        padding-right: 0;
        text-align: left;
        flex-direction: row;
    }

    .products-heading {
        font-size: 11px;
    }

    .products-title {
        font-size: 18px;
    }

    .products-image-abs {
        opacity: 0.4;

        right: 15px;
        bottom: 15px;

        max-width: 77px;
    }

    .products-cats-title {
        margin-bottom: 0;
        font-size: 11px;
    }

    .products-cats-item {
        margin-bottom: 3px;
        padding-left: 20px;
    }

    .products-cats-inner {
        padding-top: 15px;
        margin-bottom: 0;
    }
}