@font-face {
    font-family: "Stolzl-Webfont";
    src: url(stolzl-light.otf) format("opentype");
    font-weight: 200;
    font-display: fallback;
}

@font-face {
    font-family: "Stolzl-Webfont";
    src: url(stolzl-book.otf) format("opentype");
    font-weight: 500;
    font-display: fallback;
}

@font-face {
    font-family: "Stolzl-Webfont";
    src: url(stolzl-regular.otf) format("opentype");
    font-weight: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Stolzl-Webfont";
    src: url(stolzl-bold.otf) format("opentype");
    font-weight: bold;
    font-display: fallback;
}